[core]
	editor = nvim
[commit]
    verbose = true
[user]
	name = Allan Hortle
	email = allanhortle@gmail.com
[push]
    default = current
    autoSetupRemote = true
[merge]
	conflictstyle = merge
	tool = vimdiff
[difftool]
	prompt = false
[diff]
	tool = vimdiff3
[pager]
	branch = false
[pull]
	ff = only
	rebase = true
[mergetool]
	keepBackup = false
[color]
	ui = true

[tig "bind"]
    generic = D !git difftool --tool=vimdiff --no-prompt --trust-exit-code %(commit)^!

[difftool "vimdiff3"]
	path = nvim
[mergetool "vimdiff"]
	path = nvim
[init]
	defaultBranch = main
[alias]
    fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"

