[core]
	editor = nvim
    attributesfile = ~/.gitattributes
[commit]
    verbose = true
[user]
	name = Allan Hortle
	email = allanhortle@gmail.com
[push]
    default = current
    autoSetupRemote = true
[merge]
	conflictstyle = merge
	tool = vimdiff
[merge "json"]
    name = custom merge driver for json files
    driver = git-json-merge %A %O %B
[difftool]
	prompt = false
[diff]
	tool = vimdiff3
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[pager]
	branch = false
[pull]
	ff = only
	rebase = true
[mergetool]
	keepBackup = false
[color]
	ui = true
[tig "bind"]
    generic = D !git difftool --tool=vimdiff --no-prompt --trust-exit-code %(commit)^!
[difftool "vimdiff3"]
	path = nvim
[mergetool "vimdiff"]
	path = nvim
[init]
	defaultBranch = main
[alias]
    fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"

[includeIf "gitdir:~/tactiq/**"]
    path = ~/tactiq/.gitconfig

[gpg]
	program = /opt/homebrew/bin/gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[advice]
    addEmptyPathspec = false

