snippet rea_s3_paths "rea s3 paths" b
s3://bigdatr-media-production/source/${VISUAL}.png
s3://bigdatr-media-production/creatives/png/original/${VISUAL}.png
s3://bigdatr-media-production/creatives/png/w512/${VISUAL}.jpg
s3://bigdatr-media-production/creatives/png/w512c16_9/${VISUAL}.jpg
s3://bigdatr-media-production/creatives/png/w512t1/${VISUAL}.jpg
endsnippet

